<div class="container bg_white p-5">

  <p id="notice"><%= notice %></p>

  <div class="row">
    
    <h1 class=col-12>Events</h1>

    <div class="col-12" text center>
      <table>
        <thead>
          <tr>
            <th class="pt-3 pe-3">Title</th>
            <th class="pt-3 pe-3">Details</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td class="pt-3 pe-3"><%= event.title %></td>
              <td class="pt-3 pe-3"><%= event.details %></td>
              <td class="pt-3 pe-3"><%= link_to 'Show', event,  class: "btn btn-dark"  %></td>
              <td class="pt-3 pe-3"><%= link_to 'Edit', edit_event_path(event),  class: "btn btn-dark"  %></td>
              <td class="pt-3 pe-3"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?',  class: "btn btn-dark"  } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Event', new_event_path,  class: "btn btn-dark" %>
    </div>

  </div>

</div>