

<div class="container bg_white p-5">

  <div clas="row">
    <div class="col-12">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Title:</strong>
        <%= @album.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @album.description %>
      </p>

      <%= link_to 'Edit', edit_album_path(@album) , class: "btn btn-dark" %> |
      <%= link_to 'Back', albums_path, class: "btn btn-dark"  %>
    </div>
  </div>

</div>